.subtitleContact {
  font-size: 20px;
  font-family: "MPLUS1";
  margin-bottom: 20px;
  text-align: center;
  color: var(--green);
  padding: 10px;
}

.contact {
  padding-top: 40px;
}

.buttonContactGroup {
  justify-content: center;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
